#ignore all files in the work/ directory
work/

#ignore all files in the lib/perl5 directory
lib/perl5

#ignore backup folder in lib/mm9|mm10|hg19|hg18 directory
#ignore genome file in lib/mm9|mm10|hg19|hg18 directory
lib/*/backup/
lib/*/genome*

#ignore all files in the html/done/ directory
html/done/

#ignore .html files ending up with 'backup.html'
html/pages/*backup.html

#ignore .html files ending up with 'old.html'
html/pages/*old.html

#ignore coding.cgi and coding_old.cgi in /cgi-bin directory
cgi-bin/coding*

#ignore some files or folders unwanted in /bin directory
bin/bedtools*/
bin/samtools*/
bin/bwa*/
bin/R*/
bin/perl-5.10.1*/
bin/localPerl-5-10.1/
bin/*backup.pl
bin/test*.pl
bin/backup/
bin/scripts/test*.pl
bin/example/
#ignore all the invisible files but not .gitignore
.*
!/.gitignore
